* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  width: 95vw;
  height: 90vh;
  margin: 5vh 0 5vh 0 ;
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
